* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: radial-gradient(ellipse at center,  rgba(41,42,45,1) 0%,rgba(0,0,0,1) 100%);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: #fafafa;
}

.main__title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.main__description {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.loading__container {
    position: absolute;
    height: 3rem;
    width: 60%;
    right: 0;
    left: 0;
    margin: -1rem auto 0;
}

.loading__bar {
    height: 100%;
    background-color: #2f80ed;
    background-color: #555;
    border-radius: 2rem;
    padding: .4rem .4rem;
    overflow: hidden;
}

.loading__bar::after {
    content: "Work In Progress";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    line-height: 3rem;
    text-align: center;
    color: #fafafa;
    font-size: 2rem;
    font-weight: 400;
    height: 100%;
    width: 100%;
    opacity: .8;
}

.loading__meter {
    display: block;
    height: 100%;
    background-color: chartreuse;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    width: 30%;
    animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
    0% {
        left: 0%;
    }
    50% {
        left: 70%;
    }
    100% {
        left: 0%;
    }
}